/* INDEX.HTML PAGE STYLES*/

.first-slide { content:url(../img/flower_shop.jpg); }
.second-slide { content:url(../img/FDay_Collection_Desktop_fin_4065.jpg); }
.third-slide { content:url(../img/Wk1_BoxSale_Desktop_v2_4060.jpg); }

div#myCarousel.carousel { 
	position: relative;
	display: block;
	top: 100px; 
}

div.container.marketing {
	display: block;
	position: relative;
	padding-top: 100px;
}

div.carousel-caption { 
	background-color: #efefef;
	border-radius: 25px;
    border: 5px solid #f00;
	opacity: 0.85;
}
div.carousel-caption h1 { 
	color: #ff6021;
	opacity: 1;
}
div.carousel-caption p { 
	position: relative;
	z-index: 200;
	color: #01A;
}

img#marketing-1 { content:url("../img/sizzlin_summer.jpg"); }
img#marketing-2 { content:url("../img/Chocolate_Bouquet.jpg"); }
img#marketing-3 { content:url("../img/Sampler_Bouquet.jpg"); }

img#heading-1 { content:url("../img/boxofchocolates.jpg"); height: auto; }
img#heading-2 { content:url("../img/summerfire.jpg"); height: auto; }
img#heading-3 { content:url("../img/strawberrybouquet.jpg"); height: auto; }

div.page { padding-top: 100px; }

div#cart-items div.cart-item.row, 
div#cart-items div#cart-header.row,
div#cart-items div.cart-footer.row { margin: 1em; }

div#cart-totals div.row { border: 1px solid #efefef; padding: 1em; margin-left: 10px; }
div#cart-totals div.row.no-border { border: none; margin 0 auto; }


div#checkout-2 div#cart-items div.cart-item.row, 
div#checkout-2 div#cart-items div#cart-header.row,
div#checkout-2 div#cart-items div.cart-footer.row { margin: 1em 0 1em 0; }


